@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

#header{
    position: absolute; top: 0; left: 0;
    padding:0 100px; box-sizing: border-box;
    width: 100%; height: 100px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        font:bold 30px/1 'arial'; color: #fff;
    }

    #gnb{
        display: flex;
        li{
            a{
                display: block;
                width: 150px; height: 100%;
                text-align: center;
                color: #fff;
            }
        }
    }
}

.scroll_txt{
    position: absolute; left: 5vw; bottom: 130px;
    z-index: 3;
    transform-origin: left top;
    transform: rotate(270deg);
    span{
        display: block;
        font:20px/1 'arial'; color: #fff;
        letter-spacing: 1px;
    }
}

.scroll_fs{
    z-index: 3;
    position: absolute; bottom: 80px; left: 5vw;
    font-size: 30px;
    border-top: 2px solid #fff;
    color: #fff;
}

.bg li {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s;

    &.on {
        opacity: 1;
    }
    &:nth-of-type(1) {
        background-image: url(../img/bg_01.jpg);
    }
    &:nth-of-type(2) {
        background-image: url(../img/bg_02.jpg);
    }
    &:nth-of-type(3) {
        background-image: url(../img/bg_03.png);
    }
    &:nth-of-type(4) {
        background-image: url(../img/bg_04.jpg);
    }
}

#wrap {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            width: 100%;
            height: 100vh;
            position: relative;
            top: 100px; left: 0;

            .main_intro{
                position: absolute;top: 20vh;left: 100px;color: #fff;
                text-align: left;
                transition: 1s;
                
                .txt01{
                    transition: 2s;
                    font-size:18px; display: inline-block;
                    transform: translate3d(-29px, 10px, 10px);
                    span{
                        font-weight: 800;
                        transform: translate3d(-29px, 32px, 10px);
                    }
                }
                .txt02{
                    transition: 2s;
                    transform: translate3d(-29px, 32px, 10px);
                    strong{
                        font-size: 50px; display: block; line-height: 1.6; font-weight: 700;
                        padding: 30px 0 30px;
                        transition: 3s;
                    }
                }
                h2{
                    font:18px/1.7 'arial'; color: #fff; font-weight: 300;
                    padding-bottom: 20px;
                    transition: 2s;
                    transform: translate3d(-29px, 32px, 10px);
                }
                p{
                    font:18px/1.7 'arial'; color: #fff; font-weight: 300;
                    padding-bottom: 20px;
                    transition: 2s;
                    transform: translate3d(-29px, 32px, 10px);
                }
                .btn_wrap{
                    transition: 2s;
                    transform: translate3d(-29px, 32px, 10px);
                    a{
                        position: relative;

                        &::before{
                            content: ""; display: block;
                            position: absolute; left: 0; bottom: -10px;
                            width: 25px; height: 2px; background: #fff;
                            transition: 0.5s;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                        }
                        span{
                            color: #fff;
                        }
                    }
                }
            }

            &.swiper-slide-active .inner {
                opacity: 1;
                    .main_intro{
                        .txt01{
                            transform: translate3d(10px, 10px, 10px);
                        }
                        .txt02{
                            transform: translate3d(10px, 10px, 10px);
                            strong{
                                letter-spacing: 2px;
                            }
                        }
                        h2{
                            transform: translate3d(10px, 10px, 10px);
                        }
                        p{
                            transform: translate3d(10px, 10px, 10px);
                        }
                        .btn_wrap{
                            transform: translate3d(10px, 10px, 10px);
                        }
                    }                  
                    .imgbox{
                        opacity: 1;
                        transform: translateY(0%);
                    }
                    
                    .tro1{
                        .txt02{
                            transform: translate3d(10px, 10px, 10px);
                            strong{
                                letter-spacing: 20px;
                            }
                        }
                    }
            }
        }

        .sld1{
            width: 100%;
            .inner{
                width: 1400px;
                height: 100%;
                margin: 0 auto;
                padding:70px 60px;
                text-align: center;
                position: relative;
            }
        }
        .sld2,.sld3,.sld4{
            .inner{
                width: 1400px;
                height: 100%;
                padding:70px 60px;
                margin: 0 auto;
                text-align: left;
                position: relative;
                .main_intro{
                    strong{
                        font-size:60px;display: block;line-height: 1.4;
                    }

                    .btn_wrap{
                        a{
                            margin-right: 100px;
                        }
                    }
                }
                
            }
        }
        .sld2{
            .imgbox{
                position: absolute;
                top: 20vh;
                right: 50px;
                width: 700px;
                height: 400px;
                background: url(../img/sld2.png)no-repeat center/cover;
                opacity: 0;
                transition: 1s;
                transform: translateY(200%);
            }
        }
        .sld3{
            .imgbox{
                position: absolute;
                top: 20vh;
                right: 50px;
                width: 700px;
                height: 400px;
                background: url(../img/sld3.png)no-repeat center/cover;
                opacity: 0;
                transition: 1s;
                transform: translateY(200%);
            }
        }
        .sld4{
            .imgbox{
                position: absolute;
                top: 20vh;
                right: 50px;
                width: 700px;
                height: 400px;
                background: url(../img/sld4.png)no-repeat center/cover;
                opacity: 0;
                transition: 1s;
                transform: translateY(200%);
            }
        }
    }

    .swiper-button-next {
        top: auto;
        bottom: 5vh;
        right: 10vw;
        transform: scale(0.5);
        filter: brightness(0%);
        opacity: 0.7;
    }
    .swiper-button-prev {
        top: auto;
        bottom: 5vh;
        left: auto;
        right: calc(10vw + 50px);
        transform: scale(0.5);
        filter: brightness(0%);
        opacity: 0.7;
    }

    .swiper-pagination {
        position: absolute;
        left: auto;
        width: auto;
        height: 50px;
        right: 10vw;
        top: 4vh;

        span {
            width: auto;
            height: auto;
            background: transparent;
            border-radius: 0px;
            margin-left: 60px;
            opacity: 0.7;
            color: #fff;

            &.swiper-pagination-bullet-active {
                opacity: 1; 
                font-weight: bold;

            }
        }
    }

}